@charset "utf-8";
/* version : 1.0.0 */
* {
	margin: 0;
	padding: 0;
}
.warp {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
#slider {
	width: 100%;
	position: relative;
}
#slider::after {
	content: '';
	display: table;
	clear: both;
}
#slider section {
	height: 600px;
	width: 100%;
	float: left;
	overflow: hidden;
	position: relative;
}
#slider section img {
	z-index: 1;
	max-width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.slide {
	position: relative;
}
.arrow {
	top: 50%;
	width: 100px;
	height: 100px;
	background: #333;
	position: absolute;
	border-radius: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 1;
}
.arrow::before, .arrow::after {
	content: '';
	position: absolute;
	width: 0px;
	height: 0px;
	left: 50%;
	top: 50%;
	border: 30px solid;
}
.arrowPrev {
	left: 150px;
}
.arrowPrev::before, .arrowPrev::after {
	transform: translate(-80%, -50%);
}
.arrowPrev::before {
	border-color: transparent #fff transparent transparent;	
	margin-left: -2px;
}
.arrowPrev::after {
	border-color: transparent #333 transparent transparent;
	margin-left: 2px;
}
.arrowNext {
	right: 150px;
}
.arrowNext::before, .arrowNext::after {
	transform: translate(-20%, -50%);
}
.arrowNext::before {
	border-color: transparent transparent transparent #fff;
	margin-left: 2px;
}
.arrowNext::after {
	border-color: transparent transparent transparent #333;
	margin-left: -2px;
}
.arrow div:hover {
	box-shadow: 0px 0px 5px rgba(0,0,0,.6);
}
.arrowPrev:hover::before {
	border-color: transparent #ccc transparent transparent;	
}
.arrowNext:hover::before {
	border-color: transparent transparent transparent #ccc;
}

.slidenav {
	justify-content: center;
	position: absolute;
	display: flex;
	bottom: 20px;
	width: 100%;
	z-index: 1;
}
.slidenav .navItem {
	background-color: #000;
	border-radius: 100%;
	height: 8px;
	width: 8px;
	opacity: .2;
	margin: 4px;
}
.slidenav .navItem.active {
	background-color: #fff;
	opacity: .9;
}
.slidenav.waitClick .navItem {
	
}